<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="basic.css">
<link rel="stylesheet" type="text/css" href="Final.css">
</head>
<body>




 <div class="header">Stem sports</div>
 <div class="content">
  <IMG src="https://dl-web.dropbox.com/get/STEM%20Sports/4%20-%20desarrollo%20de%20productos/Im%C3%A1genes%20p%C3%A1gina%20web/Imagen1.jpg?_subject_uid=57776542&w=AACP48H4KZj5aHC76PBQGDcVW1SkTs1j3K2nwzA9ugThYw">
  
 </div>
  
  <div class="Proyectosr">Stem sports</div>
 <div class="content">
  <IMG src="https://dl-web.dropbox.com/get/STEM%20Sports/4%20-%20desarrollo%20de%20productos/Im%C3%A1genes%20p%C3%A1gina%20web/Imagen1.jpg?_subject_uid=57776542&w=AACP48H4KZj5aHC76PBQGDcVW1SkTs1j3K2nwzA9ugThYw">
  
 </div>

 <div class="footer"></div>
	<div class="footer">
	<p>Powered by: Stemsports 2015</p>	
	</div>



<body> 
</html>

