<div class="container">
    <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Cassiopea</a>
        </div>
                
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Nosotros</a></li>
                <li><a href="http://stem-sports.blogspot.com/" target="_blank">Blog</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Idioma<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Español</a></li>
                        <li><a href="#">Inglés</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Barra de búsqueda By: La Morsa -->
            <!--<form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </nav>
</div>
      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

       <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://fc02.deviantart.net/fs70/i/2010/174/f/1/Soccer_Ball_by_Cogsi.jpg" alt="First slide" style="width:100%" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
              <h1>Cassiopeia</h1>
              <p>Watch, Analyse, Act.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://upload.wikimedia.org/wikipedia/commons/3/3d/Soccer_game.jpg" alt="Second slide" style="width:100%" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
              <h1>Cassiopeia</h1>
              <p>Watch, Analyse, Act.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://upload.wikimedia.org/wikipedia/commons/7/7f/Flying_soccer_kick.jpg" alt="Third slide" style="width:100%" class="img-responsive">
          <div class="container">
          <div class="carousel-caption">
              <h1>Cassiopeia</h1>
              <p>Watch, Analyse, Act.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<!-- /.carousel -->

<!-- Footer -->
    <footer id="footer">
        <div class="container">
            <p class="copyright">&copy; 2015 Stem Sport. 
              <span class="wrap">
              <span class="social">
                <a href="https://www.facebook.com/StemSports" target="_blank"><img src="/img/icon-fb.png" alt="StemSport on Facebook" /></a>
                <a href="https://twitter.com/STEM_sports?lang=en" target="_blank"><img src="/img/icon-tw.png" alt="StemSports on Twitter" /></a>
                <a href="http://instagram.com/StemSports" target="_blank"><img src="/img/icon-inst.png" alt="StemSports on Instagram" /></a>
              </span>
              </span>
            </p>
        </div>
    </footer>