.navbar{
    margin-top: 20px;
s
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      max-height: 200px;
      margin: auto;
}

  .footer { 
    display: block;
    background-color: red;
    color: white;
}